.btnContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 320px;
}

.btnContinue {
  flex: 1;
  border-radius: 0% 30px 30px 0%;
}

.btnBack {
  flex: 0;
  border-radius: 30px 0% 0% 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.btnBack:disabled {
  background-color: whitesmoke;
  color: rgb(0, 0, 0, 0.3);
}
.btnBack:disabled:hover {
  cursor: not-allowed;
  background-color: whitesmoke;
  color: rgb(0, 0, 0, 0.3);
}

.pageSelector {
  position: relative;
  display: flex;
  width: 150px;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}

.selector {
  width: 9px;
  height: 9px;
  background-color: #118c8c;
  opacity: 0.3;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  box-shadow: none;
}

.selector.active {
  background-color: #118c8c;
  opacity: 1;
}

.verifyInfo {
  position: relative;
  width: 100%;
  padding: 0px 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-pic {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  text-align: center;
  color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.profile-pic span {
  color: inherit;
  font-size: 14px;
  display: block;
  font-weight: 600;
}

.profile-pic span:first-child {
  font-size: 18px;
}

form input[type="file"] {
  display: none;
}

.authContainer .imageForm {
  padding-top: 15px;
  padding-bottom: 0;
}

.profile-pic img{
  width: 100px;
}

.profile-pic-dark{
  background-color: rgba(0, 0, 0, 0.5);
  
}