html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    rgba(242, 188, 23, 0.4),
    rgba(17, 140, 140, 0.55),
    rgba(255, 255, 255, 0.8)
  );
  background-attachment: fixed;
  background-size: cover;
}

html.dark body {
  background: linear-gradient(
    to bottom,
    rgb(36, 54, 66),
    rgb(27, 97, 103),
    rgb(32, 75, 84)
  );
  background-attachment: fixed;
  background-size: cover;
}

