.appWrapper * {
  box-sizing: border-box;
}

.appWrapper *::selection {
  background-color: #118c8c;
  color: white;
}

.appWrapper .prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.appWrapper ::-webkit-scrollbar {
  width: 20px;
}

.appWrapper ::-webkit-scrollbar-track {
  background-color: transparent;
}

.appWrapper ::-webkit-scrollbar-thumb {
  background-color: #dad6e1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.appWrapper ::-webkit-scrollbar-thumb:hover {
  background-color: #7ca6a6;
}