.payment-form-container {
  max-width: 500px;
  width: 100%;
  margin: 3rem auto;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.payment-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

.payment-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
  margin-top: 30px;
}

.payment-form input {
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s;
  background-color: #fafafa;
}

.payment-form input:focus {
  border-color: #0070f3;
  background-color: #fff;
}

.payment-form button {
  padding: 14px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.payment-form button:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}
.google-pay-button {
  width: 100%;
  min-height: 55px;
  background-color: #222222;
  border: none;
  border-radius: 12px;
  padding: 9px 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.2s ease;
}

.google-pay-button img {
  width: 70px;
  height: auto;
  display: block;
}

.google-pay-button:hover {
  background-color: #393939;
  transform: translateY(-2px);
}

.rccs {
  margin: 0 auto;
  transform: scale(0.95);
}
.divider-checkout {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 520px;
  margin: 10px;
  color: #7a7a7a;
  justify-content: center;
  align-items: center;
}

.line-checkout {
  flex: 1;
  border-bottom: 2px solid #7a7a7a;
}
